body {
    color: #000;
    background-color: #fff;
    margin: 15px 25px 15px 25px;
}
p {
    text-align: justify;
    font-size: large;
}
h1, h2 {
    color: #007;
    background-color: #fff;
}
h1 {
    text-align: center;
}
img {
    border: 0;
}
.cssbtn {
    display: inline;
    width: 50px;
    padding: 1px;
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #333;
    background-color: #ccc;
    border: 1px solid black;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;

}
.cssbtn strong {
    font-weight: bold;
    color: #fff;
    background-color: #226;
    padding-left: 2px;
    margin-right: 5px;
}
.cssbtn:hover {
    color: #fff;
    background-color: #226;
}
.cssbtn:hover strong {
    color: #333;
    background-color: #ccc;
}
